<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Jobs - Aptitude Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<div class="desktopBody">
  <body>
    <div class="headerBackgroundStyle">
      <header>
        <h1>Dream Jobs</h1>
      </header>
      <nav>
        <a href="./">aptitude test</a>
        <a href="./search">search</a>
        <a href="./jobs">popular jobs</a>
    </nav>
    </div>
      
      <main class="mainBackgroundStyle">
        <h1>Aptitude Test</h1>
          <div class="aptitude-test">
              <p id="statement" class="statement">
                
              </p>
              <div class="rating-container">
                <div class="circle-container">
                  <button class="circle circle-green circle-xl" type="button" onclick="response(7)"></button>
                  <button class="circle circle-green circle-lg" type="button" onclick="response(6)"></button>
                  <button class="circle circle-green circle-md" type="button" onclick="response(5)"></button>
                  <button class="circle  circle-sm" type="button" onclick="response(4)"></button>
                  <button class="circle circle-red circle-md" type="button" onclick="response(3)"></button>
                  <button class="circle circle-red circle-lg" type="button" onclick="response(2)"></button>
                  <button class="circle circle-red circle-xl" type="button" onclick="response(1)"></button>
                </div>
                <div class="label-container">
                  <span class="label-left">Strongly Agree</span>
                  <span class="label-right">Strongly Disagree</span>
                </div>
              </div>
            </div>
      </main>
      <footer class="footerBackgroundStyle">
        <p>Powered by two highschoolers and Visual Studio Code <br> &copy;2077 Optimous Prime</p>
      </footer>
  </body>
</div>
</html>