<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Jobs - Popular Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <header>
        <a href="./">aptitude test</a>
        <a href="./search">search</a>
        <a href="./jobs">popular jobs</a>
    </header>
    <main>
        <section>
            <h1>Popular Jobs</h1>
            <div class="job-div">
                <img src="/static/images/Analyst Worker.webp" alt="">
                <a href="/job?job_name=Mathematician">Mathematician</a>
            </div>
            <div class="job-div">
                <img src="/static/images/computer worker.png" alt="">
                <a href="/job?job_name=Programmer">Programmer</a>
            </div>
            <div class="job-div">
                <img src="/static/images/construction worker.jpeg" alt="">
                <a href="/job?job_name=Construction Worker">Construction Worker</a>
            </div>
            <div class="job-div">
                <img src="/static/images/counselor.jpeg" alt="">
                <a href="/job?job_name=Therapist">Therapist</a>
            </div>
            <div class="job-div">
                <img src="/static/images/engineer.jpg" alt="">
                <a href="/job?job_name=Engineer">Engineer</a>
            </div>
            <div class="job-div">
                <img src="/static/images/law worker.jpeg" alt="">
                <a href="/job?job_name=Lawyer">Lawyer</a>
            </div>
            <div class="job-div">
                <img src="/static/images/medical worker.jpg" alt="">
                <a href="/job?job_name=Doctor">Doctor</a>
            </div>
            <div class="job-div">
                <img src="/static/images/politician.jpeg" alt="">
                <a href="/job?job_name=Politician">Politician</a>
            </div>
            <div class="job-div">
                <img src="/static/images/research worker.webp" alt="">
                <a href="/job?job_name=Scientist">Scientist</a>
            </div>
            <div class="job-div">
                <img src="/static/images/teacher.jpeg" alt="">
                <a href="/job?job_name=Teacher">Teacher</a>
            </div>
            <div class="job-div">
                <img src="/static/images/astronaut.jpeg" alt="">
                <a href="/job?job_name=Astronaut">Astronaut</a>
            </div>
            <div class="job-div">
                <img src="/static/images/law enforcement.jpeg" alt="">
                <a href="/job?job_name=Police Officer">Police Officer</a>
            </div>
            <div class="job-div">
                <img src="/static/images/writer.jpeg" alt="">
                <a href="/job?job_name=Book Writer">Book Writer</a>
            </div>
            <div class="job-div"></div>
                <img src="/static/images/business executive.jpg" alt="">
                <a href="/job?job_name=Corporate Overlord">Corporate Overlord</a>
            </div>
        </section>
    </main>
</body>
</html>