<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Jobs - Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <header>
        <a href="./">aptitude test</a>
        <a href="./search">search</a>
        <a href="./jobs">popular jobs</a>
    </header>
</body>
</html>